%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          = link_to 'Home', root_path, class: 'nav-link active'
        %li.nav-item
          - if user_signed_in?
            = link_to 'Your expenses', expenses_path, class: 'nav-link'
          - else
            = link_to 'Log in', new_user_session_path, class: 'btn btn-light'
            = link_to 'Sign up', new_user_registration_path, class: 'btn btn-light'
        %li.nav-item
          = link_to 'Shared', expense_sharings_path, class: 'nav-link active'
        %li.nav-item
          - if user_signed_in?
            = button_to 'Log out',
              destroy_user_session_path,
              method: :delete,
              class: "btn btn-light"
